* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
}

.first-section {
    height: 550px;
    background-image: linear-gradient(#1F2937, #173769);
    padding: 0 120px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header-logo-text {
    font-weight: 900;
    font-size: 1.6rem;
    color: #F9FAF8;
}

.nav-items {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;    
}

.nav-items a {
    transition: 0.5s;
}

.nav-items a:hover {
    color:white;
    transform: translateY(-2px);
}

.main-header {
    display: flex;
    gap: 100px;
    height: 100%;
    align-items: center;
    font-size: 18px;
}

.hero-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
}

button {
    font-size: 18px;
    color: white;
    padding: 10px 35px;
    border-radius: 8px;
    background-color: #3882f6;
    border: none;
    transition: 0.5s;
}

.btn-primary {
    margin-top: 15px;
    box-shadow: 1px 1px 10px rgb(26, 26, 26);
}

.btn-primary:hover {
    background-color: #0663f8;
}

.first-section img {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 50px #0f141b;
}

img {
    transition: 1s;
}

img:hover {
    transform: scale(1.02);
}

.second-section {
    height: auto;
    background-color: whitesmoke;
    padding: 0 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section h2 {
    margin-top: 40px;
    font-size: 36px;
    color: #1F2937;
}

.card-items {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 50px 0px;
    align-items: center;
}

.card-item img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #0f141bb6;
}

.card-item p {
    margin-top: 15px;
    color: grey;
    text-align: center;
}

.third-section {
    height: 350px;
    background-color: #E5E7EB;
    padding: 30px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.third-section blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.third-section p {
    margin-top: 20px;
    font-size: 24px;
    color: #1F2937;
    align-self: flex-end;
}

.fourth-section {
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 80%;
    height: 50%;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box div h3{
    font-size: 28px;
    margin-right: 300px;
}

.box div p {
    font-size: 18px;
}

.btn-secondary {
    border: 2px solid white;
}

.btn-secondary:hover {
    background-color: white;
    color: #3882f6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0f141b;
}

.heart {
    transition: 1s;
}

.heart:hover {
    font-size: 1.2rem;
}

@media screen and (max-width: 1250px) {
    .first-section img {
        width: 0;
    }
    
}